.field {
  width: 643px;
  height: 643px;
  border: 1px solid black;
  background: #08ce6b;
  margin: auto;
}
.field.hard {
  width: 620px;
  height: 620px;
}
.row_new {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
}
