.win {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  margin: auto;
  background: #08ce6b;

  background-repeat: no-repeat;
}
.win_img {
  width: 400px;
  height: 400px;

  margin-left: 80px;
  margin-top: 40px;
}
.win_btn {
  position: absolute;
  margin-left: -250px;
}
